DB_host=db
DB_port=3306
DB_user=root
DB_password=
DB_database=

Flask_host=0.0.0.0
Flask_port=
Flask_UploadFolder=./tmp-uploadFiles
Flask_AllowedExtensions={'ppt', 'pptx', 'doc', 'docx', 'pdf', 'png', 'jpg', 'jpeg', 'gif'}
Flask_SecretKey=

GCP_bucketName=
GCP_projectID=
GCP_ServiceAcct=./credentials/GCP-serviceAcctKey.json